$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

$brandblue:rgb(169, 214, 241); // Primary
$brandyellow:rgb(242, 209, 49); //Secondary
$brandblack:rgb(39, 36, 26);
$brandred:rgb(243, 89, 73); //Accent
$brandwhite:rgb(244, 244, 241);

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */


body {
	background: $brandblack;
	font-family: 'Open Sans', sans-serif;  
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

.carousel-control {
	opacity: 0;
}

.navbar-brand {
	font-size: 30px;
	font-style: italic;
}

/* Custom page header */
.header {
		padding: 0px;
		border-bottom: 1px dotted $brandblue;

    .container-fluid {
    	// background: #e5e5e5;

    	.navbar-right {
    		font-size: 18px;
    	}
    	a {
	    	color: #000;    		
    	}

    	.dropdown-menu {
    		background: #e5e5e5;
    	}

    	.icon-bar {
    		background: white;
    	}
    }
}

/* Custom page footer */
.footer {
	color: #fff;
	margin-top: 35px;
	background: $brandred;

	.foot-top {
	}

	.foot-bot {
		text-align: center;

	}
}

/* Main marketing message and sign up button */
.container .jumbotron {
	border-radius: 0px;
	padding: 0px;
}

.jumbotron {
	// margin-top: 35px;
	text-align: center;
	padding: 0px;
	margin-bottom: 35px;

}

/* Supporting marketing content */
.marketing {
	border-top: 1px dotted $brandblue;

	.services {
		height: auto;
		overflow: hidden;
		padding-bottom: 20px;
		border-bottom: 1px dotted $brandblue;
		
		.services-header {
			text-align: center;
		}
		
		.service-block {
			height: 300px;
			margin: 15px 0;
			padding: 0 15px;

			.panel {
				height: 100%;
			}
		}
	}

	.about {
		text-align: center;
		padding: 35px 0;
		margin-bottom: 15px;
		height: auto;
		overflow: hidden;
		border-bottom: 1px dotted $brandblue;

		.company-stmt {
			float: none;
			margin: 0 auto;
		}

		.about-header {
			text-align: center;
		}
	}
}

.carousel-inner {
	min-height: 485px;

	p {
		float: none;
		margin: 0 auto;
	}
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
    	padding-left: 0px;
    	padding-right: 0px;

    	background: #fff;
      max-width: 960px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
}
