$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

$brandblue:rgb(169, 214, 241); // Primary
$brandyellow:rgb(242, 209, 49); //Secondary
$brandblack:rgb(39, 36, 26);
$brandred:rgb(243, 89, 73); //Accent
$brandwhite:rgb(244, 244, 241);
$branddarkblue:rgb(90, 85, 150);

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */


body {
	// background: $brandblack;
	font-family: 'Lato', sans-serif; 
	color: $brandblack;
}

.header .container-fluid .icon-bar {
	background: $brandblack;
}

.navbar-toggle {
	margin-top: 29px;
}

.carousel-control {
	opacity: 0;
}

.navbar-brand {
	font-size: 30px;
	font-style: italic;
}

/* Custom page header */
.header {
		padding: 20px 0px 0px;
		border-bottom: 4px double $brandblack;

		h1	{
			padding-bottom: 0px;
			margin-bottom: 0px;
		}

    .container-fluid {
    	

    	.navbar-right {
    		margin-top: 25px;
    		font-size: 14px;

    	}
    	a {
    		padding-bottom: 0px;
    		text-transform: uppercase;    	
    		color: $brandblack;

	    	&:hover {
	    		background: none;
		    	color: $brandblue;   
	    	} 		
    	}

    	.dropdown-menu {
    		background: #fff;
    	}
    }
}

/* Custom page footer */
.footer {
	// margin-top: 35px;

	.foot-top {
		padding: 15px 0px 0px;
		color: #fff;
		background: $brandblack;

		ul {
			padding: 20px 0px;
			list-style: none;
			margin-bottom: 0px;

			li {
				cursor: pointer;
				text-transform: uppercase;
				font-size: 14px;
				padding: 5px 0px;

				&:hover	{
					color: $brandblue;
				}
			}
		}

		p {
			padding: 20px 0;
		}
		.line {
			background: #fff;
			height: 1px;
		}
	}


	.foot-bot {
		border-top: 4px double $brandblack;
		font-size: 12px;
		background: #fff;
		text-align: center;

	}
}

/* Main marketing message and sign up button */
.container .jumbotron {
	border-radius: 0px;
	padding: 0px;
}

.jumbotron {
	text-transform: uppercase;
	margin-top: 15px;
	text-align: center;
	padding: 0px;
	margin-bottom: 0px;

	.carousel-inner {

		.item {
			
			img {
				min-height: 200px;
			}
		}
	}
}

h3 {
	font-weight: bold;	
}

/* Supporting marketing content */
.marketing {
	// border-top: 4px double $brandblue;
	.services-header {
		border-bottom: 4px double $brandblack;
		// text-align: center;
	}

	.services {
		height: auto;
		overflow: hidden;
		padding: 0 0 20px 0;
		border-bottom: 4px double $brandblack;

		.service-blocks {
			padding: 0;
		}

		.service-block {
			// height: 300px;
			margin: 15px 0;
			padding: 0 15px;

			.panel {
				border: none;
				height: 100%;
				box-shadow: none;

				h3 {
					border-bottom: 2px solid $brandblack;
				}

				&:hover {
					cursor: pointer;
					box-shadow: 0px 0px 5px $brandblue;
				}
			}
			
		}
	}

	.about {
		text-transform: uppercase;
		font-size: 20px;
		letter-spacing: 2px;
		text-align: center;
		padding: 35px 0;
		margin-bottom: 15px;
		height: auto;
		overflow: hidden;
		border-bottom: 4px double $brandblack;

		.company-stmt {
			float: none;
			margin: 0 auto;
		}
	}
}


@media screen and (max-width: 400px) {
	.container {
  	padding-left: 0px;
  	padding-right: 0px;
  }

	.about {
		display: none;
	}
    // this is where the media break changes go
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
    	padding-left: 0px;
    	padding-right: 0px;

    	background: #fff;
      max-width: 960px;
    }


}
